/* Reset Css*/
html {
font-family:sans-serif;
-ms-text-size-adjust:100%;
-webkit-text-size-adjust:100%
}

body {
margin:0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
display:block
}

a {
background-color:transparent
}

a:active,a:hover {
outline:0
}

input[type="search"] {
-webkit-appearance:textfield;
box-sizing:content-box
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none
}
/* Navbar */
.nav {
  background-color: #4c6881;
    overflow: hidden;
    z-index: 50;
}
.nav ul {
  padding: 0;
    margin: 0;
}
.sol-menu li {
    float: left;
    display: block;
    list-style: none;
}
.sol-menu li a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
    padding: 15px 20px;
    background-color: #4c6881;
    border-bottom: 1px solid #4C6881;
    -webkit-transition: all 0.3s ease;                  
    -moz-transition: all 0.3s ease;                 
    -o-transition: all 0.3s ease;   
    -ms-transition: all 0.3s ease;          
    transition: all 0.3s ease;
}
.sol-menu li a:hover {
  color: #4c6881;
    padding: 15px 40px;
    background-color: #FFFFFF;
}
ul.sag-menu {
  float: right;
  padding: 8px 10px;
    overflow: hidden;
}
.sag-menu i {
  color: #FFFFFF;
  margin: 8px;
  cursor: pointer;
}
input.search {
  display: none;
    padding: 5px;
    max-width: 100%;
}
.altmenu-ac {
  display: none;
}
.menu-ac {
  display: none;
  padding: 10px;
  cursor: pointer;
  color: #FFFFFF;
}
@media (max-width: 700px ){
  .ac  {
    display: none;
  }
  .nav ul li {
    float: none;
  }
  .menu-ac {
    display: block;
  }
}
@media (min-width: 700px ){
  .ac {
    display: block!important;
  }
}

